.information2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  color: white;
  padding: 1em 15% 3em;

  .container {
    max-width: 1000px;
    width: 100%;
    text-align: center;
    background: linear-gradient(
      to right,
      var(--primary-color),
      var(--secondary-color)
    );
    background-size: 200%;
    padding: 1em 5em;
    border-radius: 1em;
    animation: backgroundAnimation 3s infinite alternate;

    @keyframes backgroundAnimation {
      from {
        background-position: right;
      }
      to {
        background-position: left;
      }
    }

    h1 {
      font-size: 38px;
      font-weight: 900;
      margin-bottom: 8px;
    }
  }

  @media (max-width: 992px) {
    .container {
      padding: 1em 2em;
      h1 {
        font-size: 5vw;
      }
    }
  }

  @media (max-width: 576px) {
    height: auto;
    padding: 1em;
    .container {
      h1 {
        font-size: 24px;
      }
      p {
        font-size: 14px;
      }
    }
  }
}
