.triangle {
  .upper_shape {
    width: 100%;
    height: 250px;
    background: var(--primary-color);
    position: absolute;
    top: 0;
    left: 0;
    -webkit-clip-path: polygon(100% 0, 0% 100%, 0 0);
    clip-path: polygon(100% 0, 0% 100%, 0 0);
  }

  .down_shape {
    width: 100%;
    height: 250px;
    background: var(--primary-color);
    position: absolute;
    bottom: 0;
    right: 0;
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  }
}
