.information {
  position: relative;
  padding: 5em 0;
  color: var(--text-color);
  padding: 3em 1em;
  margin-top: 3em;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  overflow: hidden;

  .gradient_1 {
    width: 300px;
    height: 100px;
    background: linear-gradient(
      to right,
      var(--primary-color),
      var(--secondary-color)
    );
    position: absolute;
    top: -20%;
    left: 10%;
    filter: blur(100px);
    z-index: -1;
  }

  h1 {
    font-size: 36px;
    font-weight: 900;
  }

  .descriptions {
    display: flex;
    flex-direction: column;

    div {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "h2 p p";
      padding: 1em;
      border-radius: 1em;
      transition: 0.1s;

      &:hover {
        box-shadow: 0 0 1px 2px rgba(255, 255, 255, 0.245);
        background-color: rgba(117, 117, 117, 0.078);
      }

      h2 {
        grid-area: h2;
      }
      p {
        grid-area: p;
      }
    }
  }

  @media (max-width: 992px) {
    h1 {
      font-size: 5vw;
    }

    .descriptions {
      div {
        grid-template-columns: 1fr;
        grid-template-areas:
          "h2"
          "p";
      }
    }
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    height: auto;

    h1 {
      font-size: 24px;
    }

    .descriptions {
      h2 {
        font-size: 18px;
      }
      p {
        font-size: 14px;
      }
    }
  }

  @media (min-width: 1500px) {
    width: 1500px;
  }
}
