nav {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 9999;
  padding: 0 1em;

  .logo {
    width: 100%;
  }

  ul {
    a {
      color: var(--text-color);
    }

    .navLink {
      padding: 0.5em 1em;
      border-radius: 0.5em;
    }
    .active {
      background-color: #0078c2;
      color: white;
    }
  }

  @media (min-width: 768px) {
    .openAndClose {
      display: none;
    }
  }

  .openAndClose {
    color: var(--text-color);
    font-size: 1.5em;
  }

  @media (max-width: 768px) {
    ul {
      position: absolute;
      top: 5em;
      right: 1em;

      background-color: var(--nav-toggle-color);
      display: none;
      flex-direction: column-reverse;
      align-items: center;
      padding: 1em;
      border-radius: 0.5em;
      gap: 0.5em;
      animation: navIntro 0.5s;

      @keyframes navIntro {
        from {
          opacity: 0;
          transform: translateY(-100px) scale(0);
        }
        to {
          opacity: 1;
          transform: translateY(0) scale(1);
        }
      }
    }

    ul[data-nav-toggle="true"] {
      display: flex;
    }
  }

  @media (max-width: 576px) {
    .logo {
      width: 150px;
    }
  }
}

.nav_active {
  background-color: var(--nav-active);
  backdrop-filter: blur(10px);
}
