.light {
  --background-color: #fff;
  --background-color-2: #1da1f2;
  --text-color: black;

  --nav-active: rgba(255, 255, 255, 0.408);
  --nav-toggle-color: #f2f2f2;
  header {
    h1 {
      color: var(--secondary-color);
    }
  }
}
