.dark {
  --background-color: #212121;
  --background-color-2: #22303c;
  --text-color: white;

  --nav-active: #2121215e;
  --nav-toggle-color: #121212;

  header {
    h1 {
      color: var(--secondary-color);
    }
  }
}
