/* Navbar */
@media (max-width: 768px) {
  nav ul {
    @apply hidden flex-col-reverse text-center bg-[#121212] dark:bg-[#f2f2f2] p-4 rounded-lg absolute top-[5em] right-[1em];
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  nav .nav-link-animation {
    animation: linkIntro 0.5s;
  }
  @keyframes linkIntro {
    from {
      opacity: 0;
      transform: scale(0.5);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  nav .animation {
    animation: navLinks 0.3s ease;
  }
  @keyframes navLinks {
    from {
      opacity: 0;
      transform: translateY(-100px) scale(0);
    }
    to {
      opacity: 1;
      transform: translateY(0px) scale(1);
    }
  }

  ul[data-nav-toggle="true"] {
    @apply flex;
  }
}

.nav_active {
  @apply bg-[#2121215e] dark:bg-[#ffffff5e] backdrop-blur-md;
}

/* What is Spaces Lounge? */
.text_gradient {
  background: linear-gradient(to right, #1da1f2, #ad00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
