@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300&display=swap");

:root {
  --primary-color: #1da1f2;
  --secondary-color: #ad00ff;
  --background-color: #fff;
  --background-color-2: #1da1f2;
  --text-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: "Poppins", sans-serif;

  a {
    color: black;
    text-decoration: none;
  }
}
