@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300&display=swap");

:root {
  --primary-color: #1da1f2;
  --secondary-color: #ad00ff;
  --background-color: #212121;
  --background-color-2: #22303c;
  --text-color: white;
  --nav-active: #2121215e;
  --nav-toggle-color: #121212;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: height 0.2s, background-color 0.5s;
}

body {
  background-color: var(--background-color);
  font-family: "Poppins", sans-serif;

  .main-container {
    & > div {
      & > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }

  a {
    color: black;
    text-decoration: none;
  }

  .text_gradient {
    background: linear-gradient(
      to right,
      var(--primary-color),
      var(--secondary-color)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
