header {
  overflow: hidden;
  color: var(--text-color);

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;

    h1 {
      font-family: "Raleway", sans-serif;
      text-transform: uppercase;
      font-size: 108px;
      background-size: 100%;
      font-weight: 900;
      letter-spacing: 10px;
      opacity: 0;
      animation: nameInsideAnimation 2s infinite alternate;

      @keyframes nameInsideAnimation {
        from {
          background-size: 400%;
        }
        to {
          background-size: 100%;
        }
      }
    }

    p {
      padding: 0 10em;
      margin-bottom: 1em;
      opacity: 0;
    }

    @media (max-width: 992px) {
      h1 {
        font-size: 8vw;
      }

      p {
        padding: 0 5em;
      }
    }

    @media (max-width: 576px) {
      h1 {
        font-size: 42px;
      }

      p {
        font-size: 14px;
        padding: 0 1em;
      }
    }
  }
}
